:root {
  --primary-main: #1976d2;
  --primary-light: #42a5f5;
  --primary-dark: #1565c0;
  --primary-contrast: #fff;

  --success-main: #66bb6a;
  --success-light: #81c784;
  --success-dark: #388e3c;

  --warning-main: #d32f2f;
  --warning-light: #ef5350;
  --warning-dark: #b71c1c;

  --zinc-main:#71717a;
  --zinc-light:#d4d4d4;
  --zinc-dark:#3f3f46;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

